@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  background-color: #F8F4ED;
  color: #1c1917;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}

/* Hide Google Translate default toolbar */
.goog-te-banner-frame,
.goog-te-balloon-frame,
#goog-gt-tt {
  display: none !important;
}
body {
  top: 0 !important;
}
.goog-te-spinner-pos {
  display: none !important;
}
